html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 85px;
}

#content{
  margin-top: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Фиксированная высота футера */
  height: 60px;
  background-color: #f5f5f5;
}